* {
  margin: 0;
  padding: 0;
}
.navbar {
  /* border: 2px solid red; */
  width: 100%;
  height: 80px;
}
.navbar p {
  /* border: 2px solid rebeccapurple; */
  display: block;
  width: 230px;
  margin-left: 5.35%;
  margin-top: 40px;

  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}

.row {
  /* border: #333333 2px solid; */

  display: flex;
  justify-content: space-between;
  height: 100%;
  
}

.left-box {
  flex-basis: 50%;
  /* border: 2px solid red; */
  margin-right: 5px;
}

.left-box img {
  /* position: absolute; */
  display: block;
  
  margin-left: 18.35%;
    margin-top: 11%;
  

  height: 339.22px;
  width: auto;
}

.right-box {
  flex-basis: 50%;
  /* border: 2px solid red; */
  padding-top: 4%;
}

.big-box {
    /* border: 2px solid purple; */
  
  display: block;
  margin: 0 1px;
  margin-bottom: 10px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
}

.small-box {
    /* border: 2px solid cadetblue; */
    display: block;
  margin: 10px 1px;

    font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.035em;

color: #4F4F4F;

}

.main-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 17px;
    background-color:#333333;
    position: relative;
    cursor: pointer;

    margin-top: 25px;
}

.main-btn:hover{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 17px;
    background-color:white;
    position: relative;
    cursor: pointer;

    margin-top: 25px;

    transition: 0.5s;
}
@media (max-width: 700px) {
  .navbar p {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 24px;
    top: 20px;

    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
  }

  .left-box img {
    
    display: block;
    margin-left: auto;

    height: 286.83px;
  }

  .row {
    flex-direction: column;
    /* border: 2px solid red; */
  }

  .big-box {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.035em;
    color: #333333;

    width: 88.625%;

    margin-left: 8px;

    text-align: justify;
  }

  .small-box{
      margin-left: 8px;
  }

  .main-btn{
      margin-top: 8px;
  }
}
